{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 110,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false
}
